@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 60px;
  padding-bottom: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-image: url('razor.svg');
  background-position: right bottom;
  background-repeat: no-repeat;

}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
