<footer class="footer">
  <div class="col-sm-9">
    <ul class="nav nav-justified">
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://github.com/AAROC/rasr-app">Project</a></li>
    </ul>
  </div>

</footer>
